<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Diplomacy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="page-header">
      {% block header %}
      {% endblock %}
      </div>

      {% if messages %}
      <div class="messages">
	{% for message in messages %}
	<div class="alert alert-dismissable{% if message.tags %} alert-{{ message.tags }}{% endif %}">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  {{ message }}
	</div>
	{% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
