{% extends "diplomacy/game_list.html" %}

{% block title %}{{ game.name }} | {{ block.super }}{% endblock %}
  
{% block extra_head %}
    <link rel="stylesheet" href="/diplomacy/media/css/game.css"
      type="text/css">
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
    </script>
    <script type="text/javascript">
      function colormap(lst) {
        var map = $("#map")[0].getSVGDocument();
        $.each(lst, function(i, v) {
          var id = "#"+v[0];
          var territory = $(map).find(id)[0];
          territory.style.setProperty("fill", v[1], "");
        });
      }

      $("#map").ready(function() {
        $.getJSON("state/", {}, colormap);
      });
    </script>
{% endblock %}

{% block page_title %}{{ game.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
&rsaquo;
<a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
{% endblock %}
    
{% block content %}
    <h2>{{ turn }}</h2>

    {% block map %}
    <object type="image/svg+xml" data="/diplomacy/media/img/map.svg"
      height=400 id="map">
      Browser does not support SVG!
    </object>
    {% endblock %}

    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Power</th>
	  <th>SC</th>
	</tr>
      </thead>
      {% with game.current_turn as cturn %}
      {% for government, sc in turn.governments %}
      <tr class="{{ government.power }}">
	<td>{{ government }}</td>
	<td>{% if turn.id == cturn.id %}<a href="{% url diplomacy.views.orders game.slug government.power.name %}">{% endif %}{{ government.power }}{% if turn.id == cturn.id %}</a>{% endif %}</td>
	<td>{{ sc }}</td>
      </tr>
      {% endfor %}
      {% endwith %}
    </table>
{% endblock %}
