{% extends "diplomacy/base.html" %}

{% block title %}Games | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
&rsaquo;
<a href="{% url diplomacy.views.games_list %}">Games</a>
{% endblock %}
  
{% block content %}

  {% if is_paginated %}
  {% include "diplomacy/list_paging.html" %}
  {% endif %}
  
  <table>
    <thead>
      <tr>
	<th>Name</th>
	<th>Turn</th>
	<th>Last Generated</th>
      </tr>
    </thead>
    {% for game in game_list %}
    <tr>
      <td><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></td>
      {% with game.current_turn as current %}
      <td>{{ current|default_if_none:"Setup" }}</td>
      <td>{% if current %}{{ current.generated|date:"D, j M Y g:ia T" }}{% else %}{{ game.created|date:"D, j M Y g:ia T" }}{% endif %}</td>
      {% endwith %}
    </tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
  {% include "diplomacy/list_paging.html" %}
  {% endif %}

{% endblock %}
