{% extends "diplomacy/base.html" %}

{% block title %}Games | Diplomacy{% endblock %}

{% block breadcrumbs %}
<a href="/diplomacy/">Diplomacy</a>
&rsaquo;
Games
{% endblock %}
  
{% block content %}

  {% if is_paginated %}
  {% include "diplomacy/list_paging.html" %}
  {% endif %}
  
  <table>
    <thead>
      <tr>
	<th>Name</th>
	<th>Turn</th>
	<th>Last Generated</th>
      </tr>
    </thead>
    {% for game in game_list %}
    <tr>
      <td><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></td>
      <td>{% ifequal game.state "S" %}Setup{% else %}{{ game.current_turn }}{% endifequal %}</td>
      <td>{{ game.current_turn.generated|date:"D, j M Y g:ia T" }}</td>
    </tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
  {% include "diplomacy/list_paging.html" %}
  {% endif %}

{% endblock %}
