{% extends "diplomacy/base.html" %}

{% block title %}{{ game.name }} | Games | Diplomacy{% endblock %}
  
{% block extra_head %}
    <link rel="stylesheet" href="/diplomacy/media/css/game.css"
      type="text/css">
{% endblock %}

{% block page_title %}{{ game.name }}{% endblock %}

{% block breadcrumbs %}
<a href="/diplomacy/">Diplomacy</a>
&rsaquo;
<a href="/diplomacy/games/">Games</a>
&rsaquo;
{{ game.name }}
{% endblock %}
    
{% block content %}
    <h2>{{ game.current_turn }}</h2>

    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Power</th>
	  <th>SC</th>
	</tr>
      </thead>
      {% for government in game.governments %}
      <tr class="{{ government.power }}">
	<td>{{ government }}</td>
	<td><a href="orders/{{ government.power|lower }}/">{{ government.power }}</a></td>
	<td>{{ government.supplycenters }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
