{% extends "diplomacy/game_detail.html" %}

{% block title %}Join | {{ block.super }}{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_title %}Join Request{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
&rsaquo;
Join
{% endblock %}

{% block content %}
    <form method="POST" action="">{% csrf_token %}
      {{ form }}
      {% if not join.id %}
        <input type="submit" value="Join" name="join" />
      {% else %}{% if join.active %}
        <input type="submit" value="Update" name="join" />
	<input type="submit" value="Unjoin" name="unjoin" />
      {% else %}
	<input type="submit" value="Rejoin" name="join" />
      {% endif %}{% endif %}
    </form>
{% endblock %}
