{% block paging %}
  <table class="paging">
    <tr>
      <td>{% if page_obj.has_previous %}<a href="{% if state %}{% url diplomacy.views.games_list page=page_obj.previous_page_number,state=state %}{% else %}{% url diplomacy.views.games_list page=page_obj.previous_page_number %}{% endif %}">&laquo; Previous</a>{% endif %}</td>
      <td>{% if page_obj.has_next %}<a href="{% if state %}{% url diplomacy.views.games_list page=page_obj.next_page_number,state=state %}{% else %}{% url diplomacy.views.games_list page=page_obj.next_page_number %}{% endif %}">Next &raquo;</a>{% endif %}</td>
    </tr>
  </table>
{% endblock %}
