<script type="text/javascript" src="{{ MEDIA_URL }}js/map.js">
</script>
<script type="text/javascript">
  var diplomacy_map = {};
  diplomacy_map.colors = {{ colors|safe }};
  diplomacy_map.owns = {{ owns|safe }};
  diplomacy_map.units = {{ units|safe }};
  diplomacy_map.coordinates = {
    "Adriatic Sea": [],
    "Aegean Sea": [],
    "Baltic Sea": [],
    "Barents Sea": [],
    "Black Sea": [],
    "Eastern Mediterranean": [],
    "English Channel": [],
    "Gulf of Bothnia": [],
    "Gulf of Lyon": [],
    "Helgoland Bight": [],
    "Ionian Sea": [],
    "Irish Sea": [],
    "Mid-Atlantic Ocean": [],
    "North Atlantic Ocean": [],
    "North Sea": [],
    "Norwegian Sea": [],
    "Skagerrak": [],
    "Tyrrhenian Sea": [],
    "Western Mediterranean": [],
    "Ankara": ['748', '614'],
    "Albania": ['525', '634'],
    "Apulia": ['461', '620'],
    "Armenia": ['861', '621'],
    "Berlin": ['438', '379'],
    "Belgium": ['314', '409'],
    "Bohemia": ['450', '446'],
    "Brest": ['231', '446'],
    "Budapest": ['540', '500'],
    "Bulgaria": ['599', '593'],
    "Bulgaria (SC)": ['600', '633'],
    "Bulgaria (EC)": ['638', '589'],
    "Burgundy": ['314', '474'],
    "Clyde": ['240', '259'],
    "Constantinople": ['656', '637'],
    "Denmark": ['410', '316'],
    "Edinburgh": ['275', '262'],
    "Finland": ['575', '175'],
    "Galicia": ['555', '450'],
    "Gascony": ['241', '517'],
    "Greece": ['557', '651'],
    "Holland": ['335', '382'],
    "Kiel": ['387', '386'],
    "Liverpool": ['252', '321'],
    "Livonia": ['569', '316'],
    "London": ['277', '375'],
    "Marseilles": ['293', '547'],
    "Moscow": ['770', '285'],
    "Munich": ['389', '458'],
    "Naples": ['457', '658'],
    "North Africa": ['164', '716'],
    "Norway": ['412', '193'],
    "Paris": ['274', '459'],
    "Picardy": ['288', '426'],
    "Piedmont": ['360', '535'],
    "Portugal": ['85', '558'],
    "Prussia": ['504', '359'],
    "Rome": ['411', '612'],
    "Ruhr": ['359', '424'],
    "Rumania": ['622', '537'],
    "Serbia": ['535', '580'],
    "Sevastopol": ['770', '430'],
    "Silesia": ['471', '413'],
    "Smyrna": ['712', '680'],
    "Spain": ['154', '607'],
    "Spain (NC)": ['148', '515'],
    "Spain (SC)": ['192', '634'],
    "St. Petersburg": ['758', '124'],
    "St. Petersburg (NC)": ['680', '63'],
    "St. Petersburg (SC)": ['587', '249'],
    "Sweden": ['480', '185'],
    "Syria": ['832', '693'],
    "Trieste": ['470', '551'],
    "Tunisia": ['351', '733'],
    "Tuscany": ['395', '577'],
    "Tyrolia": ['413', '500'],
    "Ukraine": ['631', '423'],
    "Venice": ['406', '548'],
    "Vienna": ['486', '476'],
    "Wales": ['222', '363'],
    "Warsaw": ['552', '403'],
    "Yorkshire": ['278', '332'],
  };

  $(window).load(function () {
    var $map = $($("#map")[0].getSVGDocument());
    colormap($map);
    tokenizemap($map);
  });
</script>

<div id="display">
  <object type="image/svg+xml" data="{{ MEDIA_URL }}img/map.svg"
	width={{ width }} height={{ height }} id="map">
  </object>
</div>
